@using discipline.ui.blazor.wasm.Components.Buttons
@using discipline.ui.blazor.wasm.Enums
@namespace discipline.ui.blazor.wasm.Components.Rows

<div class="row">
    <div class="col-md-11" @onclick="RowClickedAsync">
        <div class="row selecting-row">
            @ChildContent
        </div>
    </div>
    <div class="col-md-1">
        <div class="row">
            <div class="col-md-6">
                <DisciplineIconButton
                    Color="DisciplineIconButtonColor.Light"
                    OnClickButtonCallback="TrashClickedAsync"
                    IconClass="bi-card-list"/>
            </div>
            <div class="col-md-6">
                <DisciplineIconButton
                    Color="DisciplineIconButtonColor.Red"
                    OnClickButtonCallback="TrashClickedAsync"
                    IconClass="bi-trash3-fill"/>
            </div>
        </div>
    </div>
</div>

@code {
    
    [Parameter]
    public RenderFragment? ChildContent { get; set; }
    
    [Parameter, EditorRequired]
    public EventCallback OnRowClickCallback { get; set; }
    
    [Parameter, EditorRequired]
    public EventCallback OnTrashClickCallback { get; set; }

    private async Task RowClickedAsync()
        => await OnRowClickCallback.InvokeAsync();

    private async Task TrashClickedAsync()
        => await OnTrashClickCallback.InvokeAsync();

}